.card {
    /* Add shadows to create the "card" effect */
    /* box-shadow:  8px 16px rgba(57, 57, 57, 0.2);
    transition: 0.5s;
    flex-shrink: 3;
    width: 1000px; */
    margin: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow:  8px 16px rgba(0,0,0,0.2);
    transition: .5s;
}
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    margin: 10px;
} 





#h2{
    border: 2px solid peachpuff; 
}

form#email.h2 {
    align-items: center;

}

body {
    border: 10px white;
    margin: 10px;
    height: 100vh;
    font-weight: 100;
    font-family: 'Lobster', cursive;
    color: peachpuff;
    background-image:url('https://64.media.tumblr.com/tumblr_maf7htRuY81rt479bo1_500.gifv');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: scroll;
    height: 100%;
    width:100%;
}
h1 {
    margin: 30px;
    font-size: 60px;
    text-shadow: 4px 4px #6565c8;
    text-align: center;
    position: relative;
}
#timetext{ 
    
    font-size: 40px;
    text-shadow: 4px 8px #6565c8;
}
div.card.h2{
    display: flex;
    color: red;
    flex-direction: row;
    align-items: flex-end;
}
h2#texttime { 
    margin: 22px;
    font-size: 65px;
    text-shadow: 4px 4px #6565c8;
    top: 400px;
    text-align: center;

}
h5 {
    font-size: 18px;
}
h3 {
    margin-left: 13px;
    font-size: 26px;
    text-shadow: 4px 4px #6565c8;
}
h4 {
    font-size: 25px;
    text-shadow: 4px 4px #6565c8;
    text-shadow: green;
}
h6 {
    font-size: 25px;
    text-shadow: 4px 4px #6565c8;
    margin: 1px;
}

p{
    width: 200px;

    font-size: 22px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 2px 2px #6565c8;
    margin: 12px;
    padding: 2px;
}
img{ 
    margin: 5px;
    border-radius: 25px ;
    width: 600px;
    height: 900px;
    resize: both;

}

input#send {
    border-radius: 25px;
    padding: 10px;
    font-family: 'Lobster', cursive;
}
input#Generate {
    border-radius: 25px;
    padding: 10px;
    font-family: 'Lobster', cursive;
}
textarea#new-comment {
    width: 400px;
	height: 120px;
	border: 3px solid #cccccc;
    border-radius: 20px;
	padding: 5px;
    margin:  10px;
    box-shadow: 6px 4px rgb(201, 164, 164);
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

textarea#emailaddress {

    border-radius: 10px;
	padding: 5px;
    margin:  10px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
textarea#message {

    border-radius: 10px;
	padding: 5px;
    margin:  10px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
input#Submit {
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 40px;
    font-family: 'Lobster', cursive;
    display: wrap;
    align-items: center;
    justify-content: center;
}
form #new-comment {
    border: 6px white;
    align-items: stretch;
    border: 2px white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

form.button{
    position: absolute;
    align-items: center;
}
label#new-comment {
    position:relative; left:85px; bottom:150px;
    font-size: 18px;

}